PORT=3000
HOST_ENV=local
DATABASE_URL=postgresql://familytree:familytree@localhost:5432/familytree?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=!SECRET!
FROM_EMAIL_NAME=FamilyTree
FROM_EMAIL_ADDRESS=noreply@brevo.family-tree.website
DEBUG=familytree:*,-familytree:prisma:*,-familytree:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SOURCE_VERSION=123